{% extends "container.html" %}
{% load staticfiles %}
{% block title %}<img src="{% static 'assets/images/com_icon.jpg' %}" alt="" width="40px" class="img-fluid"> {{title}}{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<style>
.companies-name{
    text-transform:none;
}
</style>

<section class="main-section" style="overflow-y: scroll;">
    <div class="d-flex justify-content-center"><img src="{{logo.url}}" height="300px" max-width="400px"></div>
    <div class="btn-container text-center font-weight-bold" style='margin:0%;'>
        <h3 style="color:red">Pledge Kudos</h3>
    </div>
    <div class="btn-container text-center font-weight-bold" style='margin:0%;'>
        {% comment %} <a href="/wellbeing_pledge?is_manager=True"class="open-AddDialog btn btn-default mt-3">Pledge Kudos</a>
        <a href="{% url 'proud' %}" class="open-AddDialog btn btn-default mt-3">Core Values Kudos</a>
        <a data-toggle="modal" href="#addPledge" class="open-AddDialog btn btn-default mt-3">Suggest New Pledge</a>
        <a href="#" class="btn btn-default mt-3">Employee Benefits</a> {% endcomment %}
    </div>
    <div class="btn-container" style='margin:2%0%2%0%;'>
        {% for data in proud %}
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-1">
                <img src="/media/{{data.created_by.profile.profile_picture}}" style="height:80px; width: 80px"><br>
            </div>
            <div class="col-sm-9">
                <span style="color:red"> Kudo From: </span>{{data.created_by.first_name}}
                <div class="row">
                    <div class="col-sm-12">
                    <span style="color:red">To: </span>{{data.to}}
                    </div>
                </div>
            </div><br><br>
        </div>
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-10">
                <span style="color:red"> Pillars:   
                    {% for pillar in data.pillars.all %}
                        {{pillar}}
                        {% if not  forloop.last %}
                        ,
                        {% endif %}:
                    {% endfor %}
                </span>
                {{data.proud_text}}&nbsp;
                {% if not request.user.is_staff %}
                <a style="color:#118c66" data-toggle="editProudModal" onclick = 'editproudpopup("{{data.id}}")'><i class="material-icons">edit</i></a>
                <a href="{% url 'delete_proud' data.id %} " style="color:#118c66"><i class="material-icons">delete</i></a>    
                {% endif %}
            </div>
            
        </div>
        
        {% endfor %}
    </div>
    <div class="rows text-right">
        <div class="col-sm-12">
            {% if not request.user.is_staff %}
                <a data-toggle="modal" href="#addProud" class="open-AddDialog btn btn-default mt-3">Add Kudo</a>
            {% endif %}
            <a href="{% url 'wellbeing_pledge' %}" class="open-AddDialog btn btn-default mt-3">User Landing Page</a>
        </div>
    </div>
    <!-- Add/Create Modal View -->
    <div class="modal hide" id="addProud">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Pledge Kudo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/proud/" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <label for="{{ pledge_kudo }}">Choose Pledge Name:</label>
                        {% comment %} <select class="selectpicker" multiple name="pillar" data-live-search="true" required> {% endcomment %}
                        <select id="choices-multiple-remove-button" placeholder="" multiple name="pledge_kudo" data-live-search="true" required>
                            {% for pledge_kudo in company_pledge_kudo %}
                            <option value="{{ pledge_kudo.id}}">{{ pledge_kudo.admin_pledge }}</option>
                            {% endfor %}
                        </select>
                        
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    {{ form.to|as_crispy_field }}
                                    {{ form.proud_text|as_crispy_field }}
                                    <span class="input-group-addon"></span>
                                    {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="agree-sec m-0">
                            <div class="btn-container text-center ml-auto ">
                                <button type="submit" class="btn btn-default text-uppercase">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 
    <!-- Edit/Update Comment Modal View -->
    <div class="modal hide" id="editProudModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editProudModalLabel">Edit Prouds</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body" id='edit_proud'>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block scripts %}

   {% comment %} <!-- NEW ADDED SCRIPT -->
    <script src="{% static 'assets/js/jquery-3.1.1.min.js' %}"></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js'></script>
    <!-- END -->  {% endcomment %}
    

 <script src="{% static 'assets/js/jquery.dataTables.min.js'%}"></script>
 <script src="{% static 'assets/js/dataTables.bootstrap4.min.js'%}"></script>
 <script>
    function editproudpopup(proud_id)
    {   
        $('#editProudModal').modal('show');


        $.ajax({
            type:'GET',
            url:'/edit_proud/'+proud_id,
            success:function(data){
                $('#edit_proud').html(data)
            }

        })
    }
</script>
<!-- multiselect dropdown -->
<script>
$(document).ready(function(){

var multipleCancelButton = new Choices('#choices-multiple-remove-button', {
    removeItemButton: true,
    //maxItemCount:5,
    //searchResultLimit:5,
    //renderChoiceLimit:5
    });
});
</script>
{% endblock scripts %}