{% extends "container.html" %}
{% load staticfiles %}
{% block title %} {{title}}{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<style>
.companies-name{
    text-transform:none;
}
.inactive_buttons {
    background-color: #F0F0F0 !important;
    color: black !important;
}
</style>

<section class="main-section" style="overflow-y: scroll;">
    
    <div class="btn-container text-center" style='margin:0%;'>
        {% if request.user.is_staff and is_manager == None %}
                <h3 class="text-center" style="color:red">Project Manager Landing Page</h3>
                <div class="d-flex justify-content-center"><img src="{{logo.url}}" height="300px" max-width="400px"></div>
                <a data-toggle="modal" href="#addCoreKudos" class="open-AddDialog btn btn-default mt-3">Add Core Value Kudos</a>
                <a href="{% url 'corekudo' %}" class="open-AddDialog btn btn-default mt-3">See Core Value Kudos</a>
                <a data-toggle="modal" href="#addPledgeKudos"class="open-AddDialog btn btn-default mt-3">Add Pledge Kudos</a>
                <a href="{% url 'proud' %}"class="open-AddDialog btn btn-default mt-3">See Pledge Kudos</a>
                {% comment %} <a href="/wellbeing_pledge?is_manager=True"class="open-AddDialog btn btn-default mt-3">See Pledge Kudos</a> {% endcomment %}
                <a data-toggle="modal" href="#addPledge" class="open-AddDialog btn btn-default mt-3">Add New Pledge</a>
                <a href="#" class="inactive_buttons btn btn-default mt-3">See Employee Benefits</a>
                <a href="#" class="inactive_buttons btn btn-default mt-3">Add Employee Benefits</a>
                <br>
        {% else %}
            {% if is_manager == 'True' or not  request.user.is_staff %}
                <h3 class="text-center">Pledge Kudos Page</h3>
                <div class="d-flex justify-content-center"><img src="{{logo.url}}" height="300px" max-width="400px"></div>
                <a data-toggle="modal" href="#addCoreKudos" class="open-AddDialog btn btn-default mt-3">Add Core Value Kudos</a>
                <a href="{% url 'corekudo' %}" class="open-AddDialog btn btn-default mt-3">See Core Value Kudos</a>
                <a data-toggle="modal" href="#addPledgeKudos"class="open-AddDialog btn btn-default mt-3">Add Pledge Kudos</a>
                <a href="{% url 'proud' %}"class="open-AddDialog btn btn-default mt-3">See Pledge Kudos</a>
                {% comment %} <a href="/wellbeing_pledge?is_manager=True"class="open-AddDialog btn btn-default mt-3">See Pledge Kudos</a> {% endcomment %}
                {% if not request.user.is_staff %}
                <a data-toggle="modal" href="#addUserPledge" class="open-AddDialog btn btn-default mt-3">Suggest New Pledge</a>
                {% endif %}
                <a href="#" class="inactive_buttons btn btn-default mt-3">See Employee Benefits</a>
                <a href="#" class="inactive_buttons btn btn-default mt-3">Add Employee Benefits</a>
                <a href="/profile" class="open-AddDialog btn btn-default mt-3">Add/Change my photo</a>
            {% endif %}
        {% endif %}
    </div>
    <br>
    {% if messages %}
        {% for message in messages %}
        <div class="d-flex justify-content-center">
        <div class="alert alert-success " style="width:400px;text-align: center;" role="alert">
            {{ message }}
        </div>   
        </div>
    {% endfor %}
    <div class="btn-container" style='margin:2%0%2%0%;'>
    
    {% endif %} 
    {% if not request.user.is_staff %}
        {% for data in pledge %}
        <div class="row">
            <div class="col-sm-12">
                <h4 class="text-center">
                Pillar Name:
             {% for pillar in data.admin_pledge.all %}       
                     {{pillar}}
                    {% if not  forloop.last %}
                    ,
                    {% endif %}
                {% endfor %} 
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                {% if not request.user.is_staff %}
                <div class="text-center">
                <button type="button" class="btn btn-default" data-toggle="modal"  onclick = 'commentpopup("{{data.id}}")'>
                    Pledge Kudos<br>Comment
                </button>
                </div>
                {% endif %}
            </div>
            <div class="col-sm-10">
                <table style="font-weight: 000; color: black !important;">
                    <tr>
                        <td><img src="/media/{{data.person_photo}}" style="height:80px; width: 80px"></td>
                        <td>&nbsp;&nbsp;<span style="color:red">Pledge Contributor: </span><span style="font-size:120%">{{data.person_name}}</span></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>
                            <span style="color:red">Pillar Name:
                                {% for pillar in data.admin_pledge.all %}
                                    {{pillar}}
                                    {% if not  forloop.last %}
                                    ,
                                    {% endif %}
                                {% endfor %}
                            </span>
                            : {{data.pledge_text}}
                        </td>
                    </tr>
                </table><br>
                <div class="btn-container text-right">
                    {% if request.user.is_staff %}
                    <button type="button" class="btn btn-default" data-toggle="modal"  onclick = 'editpopup("{{data.id}}")'>
                        Edit Pledge
                    </button>
                    {% endif %}
                </div><br>
                
                <div class="container ">
                    {% for comment in pledge_comments %}
                        {% if data.id == comment.pledge.id%}
                        <div class="row">
                            <div class="col-sm-1">
                                <img src="/media/{{comment.created_by.profile.profile_picture}}" style="height:80px; width: 80px;">
                            </div>
                            <div class="col-sm-8">
                                Comment From: <span style="font-size:120%">{{comment.created_by}}</span>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-sm-10">
                                    Comment: <span style="font-size:120%">{{comment.comment}}</span> &nbsp; 
                                    <a href="" style="color:#118c66" data-toggle="modal"  onclick = 'editcommentpopup("{{comment.id}}")'><i class="material-icons">edit</i></a>
                                    {% if not request.user.is_staff %}
                                    <a href="{% url 'delete_pledge_comment' comment.id %}" style="color:#118c66"><i class="material-icons">delete</i></a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}                        
                </div><br>
            </div>
        </div>   
        {% endfor %}
    {% endif %}
    </div>
    <!-- Add/Create Pledge Kudo Modal View -->
    <div class="modal hide" id="addPledgeKudos">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Kudo for Wellbeing Pledge</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/proud/" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <label for="{{ pledge_kudo }}">Choose Pledge Name:</label>
                        {% comment %} <select class="selectpicker" multiple name="pillar" data-live-search="true" required> {% endcomment %}
                        <select id="choices-multiple-remove-button" placeholder="" multiple name="pledge_kudo" data-live-search="true" required>
                            {% for pledge_kudo in company_pledge_kudo %}
                            <option value="{{ pledge_kudo.id}}">{{ pledge_kudo }}</option>
                            {% endfor %}
                        </select>
                        
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    {{ pledge_kudo_form.to|as_crispy_field }}
                                    {{ pledge_kudo_form.to_person_photo|as_crispy_field }}
                                    {{ pledge_kudo_form.proud_text|as_crispy_field }}
                                    <span class="input-group-addon"></span>
                                    {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="agree-sec m-0">
                            <div class="btn-container text-center ml-auto ">
                                <button type="submit" class="btn btn-default text-uppercase">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Add/Create Core Kudo Modal View -->
    <div class="modal hide" id="addCoreKudos">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Kudo for Core Value Pillar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/core_kudo/" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <label for="{{ core_kudo }}">Choose Pillar Name:</label>
                        {% comment %} <select class="selectpicker" multiple name="pillar" data-live-search="true" required> {% endcomment %}
                        <select id="choices-multiple-remove-button" placeholder="" multiple name="core_kudos" data-live-search="true" required>
                            {% for core_kudo in company_pillar %}
                            <option value="{{ core_kudo.id}}">{{ core_kudo }}</option>
                            {% endfor %}
                        </select>
                        
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    {{ core_kudo_form.to|as_crispy_field }}
                                    {{ core_kudo_form.to_person_photo|as_crispy_field }}
                                    {{ core_kudo_form.proud_text|as_crispy_field }}
                                    <span class="input-group-addon"></span>
                                    {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="agree-sec m-0">
                            <div class="btn-container text-center ml-auto ">
                                <button type="submit" class="btn btn-default text-uppercase">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Project Manager Add/Create pledge Modal View -->
    <div class="modal hide" id="addPledge">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Pledge</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <form method="post" action="/wellbeing_pledge/" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="{{ pillar }}">Select Pledge Name:</label>
                                </div>
                                <div class="col-md-12">
                                    <div class="row d-flex justify-content-center mt-100">
                                    <div class="col-md-12">
                                        <select id="choices-multiple-remove-button" placeholder="" multiple name="pledge_kudo" data-live-search="true" required>
                                            {% for pledge in company_pledge_kudo %}
                                            <option value="{{ pledge.id}}">{{ pledge.admin_pledge }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div><br>
                            </div>
                        </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="form-group col-md-12 mb-0">
                                        {% comment %} {{ form.pledge_text|as_crispy_field }} {% endcomment %}
                                         <b>{{ form.pledge_text.label}}:</b>
                                        <div class="row">
                                            {% comment %} <p style="color:red; margin;margin-left: 10px;">
                                                A pledge kudo is a compliment for participation in special projects called Wellbeing Pledges.
                                            </p> {% endcomment %}
                                        </div>
                                        <textarea id="" name="{{ form.pledge_text.name}}" class="form-control" rows="4" cols="50"></textarea>
                                    </div>
                                    <div class="form-group col-md-12 mb-0">
                                        {{ form.person_name|as_crispy_field }}
                                      </div>
                                      <div class="form-group col-md-12 mb-0">
                                        {{ form.person_photo|as_crispy_field }}
                                        <span id="success-message" style="color:red"></span>
                                      </div>
                                        <span class="input-group-addon"></span>
                                        {% for error in field.errors %}
                                        <p style="color: red">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            <hr>
                            
                            <div class="agree-sec m-0">
                                <div class="btn-container text-center ml-auto ">
                                    <button type="submit" id="b3" class="btn btn-default text-uppercase">Submit</button>
                                </div>
                            </div>
                        </form>
                       
                </div>
            </div>
        </div>
    </div> 
    <!-- User Add/Create Pledge Modal View -->
    <div class="modal hide" id="addUserPledge">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Suggest New Pledge</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <form method="post" action="/user_pledge/" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in user_pledge_form %}
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        {{ field|as_crispy_field }}
                                      
                                        <span class="input-group-addon"></span>
                                        {% for error in field.errors %}
                                        <p style="color: red">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <hr>
                            {% endfor %}
                            <div class="agree-sec m-0">
                                <div class="btn-container text-center ml-auto ">
                                    <button type="submit" class="btn btn-default text-uppercase">Submit</button>
                                </div>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit/Update Project Manager Pledge Modal View -->
    <div class="modal hide" id="editPledgeModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Pledge</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body" id='edit_wellbeing_pledge'>
                    </div>
            </div>
        </div>
    </div>
    <!-- Edit/Update Comment Modal View -->
    <div class="modal hide" id="editCommentModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Comment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body" id='edit_comment'>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Comment to pledge -->
    <div class="modal hide" id="addComment">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Comment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/pledge_comment/" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in comment_form %}

                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <input type="hidden" id="pledge_id" name="pledge_id"><br>
                                    {{ field|as_crispy_field }}
                                    <span class="input-group-addon"></span>
                                    {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <hr>

                        {% endfor %}
                        <div class="agree-sec m-0">
                            <div class="btn-container text-center ml-auto ">
                                <button type="submit" class="btn btn-default text-uppercase">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 
</section>
{% endblock content %}
{% block scripts %}

   {% comment %} <!-- NEW ADDED SCRIPT -->
    <script src="{% static 'assets/js/jquery-3.1.1.min.js' %}"></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js'></script>
    <!-- END -->  {% endcomment %}
    

 <script src="{% static 'assets/js/jquery.dataTables.min.js'%}"></script>
 <script src="{% static 'assets/js/dataTables.bootstrap4.min.js'%}"></script>
 <script>
    function editpopup(data_id)
    {   
        $('#editPledgeModal').modal('show');


        $.ajax({
            type:'GET',
            url:'/edit_wellbeing_pledge/'+data_id,
            success:function(data){
                $('#edit_wellbeing_pledge').html(data)
            }

        })
    }

</script>
<script>
    function editcommentpopup(comment_id)
    {   
        $('#editCommentModal').modal('show');


        $.ajax({
            type:'GET',
            url:'/edit_comment/'+comment_id,
            success:function(data){
                $('#edit_comment').html(data)
            }

        })
    }
    
</script>
<script>
    function commentpopup(pledge_id)
    {   
        $('#addComment').modal('show');
        $('#pledge_id').val(pledge_id);
    }
  


</script>
<!-- multiselect dropdown -->
<script>
$(document).ready(function(){

var multipleCancelButton = new Choices('#choices-multiple-remove-button', {
    removeItemButton: true,
    //maxItemCount:5,
    //searchResultLimit:5,
    //renderChoiceLimit:5
    });
});
</script>

<script>

//Show the success message after upload contributor photo logo

$("#id_person_photo").change(function () {
    $("#success-message").text("Download complete.");
});
</script>

{% endblock scripts %}