{% extends 'container.html' %}

{% block content %}
<section class="main-section center-section w-small">
<div class=" contents ">

        <div class="right-section m-0" data-simplebar>
{% if validlink %}

        <h2 class="p-20 m-0 text-uppercase">Change password</h2>
        <hr class="m-0">
<div class="p-20">

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Change password</button>
</form>
</div>
{% else %}
<p>
    The password reset link was invalid, possibly because it has already been used.
    Please request a new password reset.
</p>
{% endif %}
</div>
</div>
</section>
{% endblock %}