{% extends 'container.html' %}

{% block content %}


<section class="main-section center-section w-small">
<div class=" contents ">

        <div class="right-section m-0" data-simplebar>
<h2 class="p-20 m-0 text-uppercase">Change password</h2>
<hr class="m-0">
                    <div class="p-20">
<form method="post">
    {% csrf_token %}
    <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label for=''>old password</label>
                                    </div>
                                    <div class="col-sm-8">
                                      
                                            <!-- <input type="text" name="old_password" class="form-control w-100">
                                            <span class="input-group-addon"></span> -->
                                            <div class="input-group input-group-sm">
                                                    <input id="txtPassword1" type="password" name="old_password" class="form-control" aria-describedby="btnToggle">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text"><a id='btnToggle1'><i id="eyeIcon1" class="material-icons">
                                                                    visibility
                                                                </i></a></span>
                                                    </div>
                                                </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label for=''>new password</label>
                                    </div>
                                    <div class="col-sm-8">
                                      
                                            {% comment %} <input type="text" name="new_password1" class="form-control w-100"> {% endcomment %}
                                            <div class="input-group input-group-sm">
                                                    <input id="txtPassword2" type="password" name="new_password1" class="form-control" aria-describedby="btnToggle">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text"><a id='btnToggle2'><i id="eyeIcon2" class="material-icons">
                                                                    visibility
                                                                </i></a></span>
                                                    </div>
                                                </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label for=''>new password confirmation</label>
                                    </div>
                                    <div class="col-sm-8">
                                      
                                            <div class="input-group input-group-sm">
                                                    <input id="txtPassword3" type="password" name="new_password2" class="form-control" aria-describedby="btnToggle">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text"><a id='btnToggle3'><i id="eyeIcon3" class="material-icons">
                                                                    visibility
                                                                </i></a></span>
                                                    </div>
                                                </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <hr>
    <div class="agree-sec m-0">
                                <div class="btn-container text-center ml-auto ">
                                <button class="btn btn-default text-uppercase" type="submit">Submit</button>
     </div>
                            </div>
</form>
</div>
</div>
</div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>


        let passwordInput1 = document.getElementById('txtPassword1'),
        passwordInput2 = document.getElementById('txtPassword2'),
        passwordInput3 = document.getElementById('txtPassword3'),
        toggle1 = document.getElementById('btnToggle1'),
        toggle2 = document.getElementById('btnToggle2'),
        toggle3 = document.getElementById('btnToggle3'),
        icon1 = document.getElementById('eyeIcon1');
        icon2 = document.getElementById('eyeIcon2');
        icon3 = document.getElementById('eyeIcon3');

        function togglePassword1() {
            //console.log("This is toggle", passwordInput.type);
            if (passwordInput1.type === 'password') {
                passwordInput1.type = 'text';
                icon1.innerHTML = 'visibility';
            } else {
                passwordInput1.type = 'password';
                icon1.innerHTML = 'visibility_off';
            }
        }
        function togglePassword2(){
            if (passwordInput2.type === 'password') {
                passwordInput2.type = 'text';
                icon2.innerHTML = 'visibility';
            } else {
                passwordInput2.type = 'password';
                icon2.innerHTML = 'visibility_off';
            }
        }
        function togglePassword3(){
            if (passwordInput3.type === 'password') {
                passwordInput3.type = 'text';
                icon3.innerHTML = 'visibility';
            } else {
                passwordInput3.type = 'password';
                icon3.innerHTML = 'visibility_off';
            }
        }

        toggle1.addEventListener('click', togglePassword1, false);
        toggle2.addEventListener('click', togglePassword2, false);
        toggle3.addEventListener('click', togglePassword3, false);

</script>

{% endblock %}