{% extends 'container.html' %}

{% block content %}

<section class="main-section center-section w-small">
<div class=" contents ">

        <div class="right-section m-0" data-simplebar>

<h2 class="p-20 m-0 text-uppercase">Forgot password</h2>
                    <hr class="m-0">
                    <div class="p-20">
<form method="post">
    {% csrf_token %}
    <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label for=''>email</label>
                                    </div>
                                    <div class="col-sm-8">
                                      
                                            <input type="text" name="email" class="form-control w-100">
                                            <span class="input-group-addon"></span>
                                        
                                    </div>
                                </div>
                            </div>
                            <hr>

    
    <button class="btn btn-default text-uppercase" type="submit">Submit</button>
</form>
</div>
</div>
</div>
</section>
{% endblock %}