<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Below is the details for wellbeing pledge:</h1>
    <table>
        <tr>
            <td><img src="http://{{dom}}/media/{{user.profile.profile_picture}}" height='50px' width='50px' alt="" /></td>
            <td>{{pledge_text}}</td>
        </tr>
        <tr>
            <td>{{user.first_name}}</td>
        </tr>
    </table>
</body>
</html>